﻿@model MoneyTransfer.Models.User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>

<form asp-action="Send" method="POST">
    <h4>Код получателя:</h4>
    <input type="text" name="getterCode"><br />
    <h4>Сумма:</h4>
    <input type="text" name="amount">
    <input type="submit" value="Отправить" />
</form>
<hr />
<hr />
<form asp-action="Add" method="POST">
    <h4>Сумма пополнения:</h4>
    <input type="text" name="amount">
    <input type="submit" value="Пополнить" />
</form>
