﻿@if (!User.Identity.IsAuthenticated)
{
    <h2>Пополнение лицевого счета</h2>
    <form asp-action="Add" method="POST">
        <h4>Лицевой счет:</h4>
        <input type="text" name="code"/>
        <h4>Сумма:</h4>
        <input type="text" name="amount"/>
        <input type="submit" value="Пополнить" />
    </form>
}